---
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html bg="dark" %}
    <body>
      {% include top_nav.html %}

      <div id="splash" class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-9">
            <div id="blurb">
              <h2>Introducing Gotham 0.1</h2>
              <p>A flexible web framework that promotes stability, safety, security and speed.</p>
            </div>
          </div>
          <div class="hidden-sm-down col-md-5"></div>
        </div>
      </div>

      <div id="features" class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h2>Features</h2>
            <div class="card-deck">
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Built with Rust</h3>
                  <p class="card-text">
                  <a href="https://www.rust-lang.org" alt="Rust wbesite">Rust</a> is a programming language that’s focused on safety, speed, and concurrency. It offers
                     all the performance and control of a low-level language, but with the powerful abstractions of a
                     high-level language.
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Stability Focused</h3>
                  <p class="card-text">
                  Gotham targets <strong>stable</strong> Rust. This will never change.
                  </p>
                  <p class="card-text">
                    Gotham is also automatically tested against Rust beta and nightly.
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">No Garbage Collection</h3>
                  <p class="card-text">
                  One of Rust’s key innovations is guaranteeing memory safety without requiring garbage collection.
                  Gotham based applications automatically benefit from the predictability and performance of a system
                  without garbage collection.
                  </p>
                </div>
              </div>
            </div>
            <div class="card-deck">
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Statically Typed</h3>
                  <p class="card-text">
                    Unlike many other web frameworks Gotham is statically typed ensuring your
                    entire application is <strong>correctly expressed</strong> at compile time.
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Async Everything</h3>
                  <p class="card-text">
                    By leveraging <a href="https://tokio.rs" alt="Tokio website">Tokio</a>, Gotham types are async out of the box.
                  </p>
                  <p class="card-text">
                    Our async story is further enhanced by <a href="https://hyper.rs" alt="Hyper website">Hyper</a>,
                    a fast server that provides an elegant layer over stringly typed HTTP.
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Blazingly Fast</h3>
                  <p class="card-text">
                    Measure completed requests, including the 99th percentile, in <strong><abbr title="microseconds">µs</abbr></strong>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="code" class="container-fluid">
        <div class="row">
          <div class="col-12">
              <h2>Tour</h2>

              <ul class="nav nav-pills nav-fill flex-wrap" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#handlers" role="tab">Handlers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " data-toggle="tab" href="#extractors" role="tab">Extractors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#middleware" role="tab">Middleware</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#launching" role="tab">Launching</a>
                </li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active" id="handlers" role="tabpanel">
                  <p>
                    A handler is a Rust function which generates a response to a HTTP request.
                  </p>
                  <div class="code-header">
                    Handler
                  </div>
                  <div>
                    <pre>
                      <code class="hljs rust">
pub fn greet(state: State, _req: Request) -&gt; (State, Response) {
    let greeting = match GreetRequestPath::borrow_from(&amp;state).name {
        Some(ref name) =&gt; format!("Hello, {}!\n", name),
        None =&gt; "Hello, world!\n".to_owned(),
    };

    let res = create_response(
        &amp;state,
        StatusCode::Ok,
        Some((greeting.into_bytes(), mime::TEXT_PLAIN)),
    );

    (state, res)
}
                      </code>
                    </pre>
                  </div>

                  <div class="code-header">
                    HTTP Request
                  </div>
                  <div>
                    <pre>
                      <code class="hljs shell">
$ curl http://localhost:7878/greet
Hello, world!
$ curl http://localhost:7878/greet/Rustaceans
Hello, Rustaceans!
                      </code>
                    </pre>
                  </div>
                  </p>
                </div>
                <div class="tab-pane " id="extractors" role="tabpanel">
                  <p>
                    Extractors parse request data into type-safe structures provided by your application.
                  </p>
                  <div class="code-header">
                    PathExtractor
                  </div>
                  <div>
                    <pre>
                      <code class="hljs rust">
#[derive(StateData, FromState, PathExtractor, StaticResponseExtender)]
pub struct ChallengeRequestPath {
    pub name: String,
}
                      </code>
                    </pre>
                  </div>
                  <div class="code-header">
                    QueryStringExtractor
                  </div>
                  <div>
                    <pre>
                      <code class="hljs rust">
#[derive(StateData, FromState, QueryStringExtractor, StaticResponseExtender)]
pub struct ChallengeQueryString {
    pub count: Option&lt;u8&gt;,
}
                      </code>
                    </pre>
                  </div>
                  <div class="code-header">
                    Handler
                  </div>
                  <div>
                    <pre>
                      <code class="hljs rust">
pub fn index(state: State, _req: Request) -&gt; (State, Response) {
    let res = {
        let crp = ChallengeRequestPath::borrow_from(&amp;state);
        let name = &amp;crp.name;

        let cqs = ChallengeQueryString::borrow_from(&amp;state);
        let count = cqs.count;

        let hello = match count {
            Some(count) =&gt; {
                format!(
                    "Hello, {}.\nIzzy Mandelbaum can lift {} kgs, so more weight than you!!\n",
                    name,
                    count + 1
                )
            }
            None =&gt; {
                format!(
                    "Hello, {}.\nIzzy Mandelbaum can lift more weight than you.\n",
                    name
                )
            }
        };

        create_response(
            &amp;state,
            StatusCode::Ok,
            Some((hello.into_bytes(), mime::TEXT_PLAIN)),
        )
    };

    (state, res)
}
                      </code>
                    </pre>
                  </div>
                </div>
                <div class="tab-pane " id="middleware" role="tabpanel">
                  <p>
                    Middleware can add functionality to your application without duplicating code.
                  </p>
                  <div class="code-header">
                    Using middleware
                  </div>
                  <div>
                    <pre>
                      <code class="hljs rust">
// When defining a router, the middleware is added into a pipeline:
new_pipeline()
    .add(
        NewSessionMiddleware::default()
            .with_session_type::&lt;Session&gt;()
    )
// See our example app for a detailed example.
                      </code>
                    </pre>
                  </div>
                  <div class="code-header">
                    Handler
                  </div>
                  <div>
                    <pre>
                      <code class="hljs rust">
pub fn index(state: State, _req: Request) -&gt; (State, Response) {
    let response = {
        // A value of type `SessionData&lt;Session&gt;` is added to `state` by the middleware
        let session = SessionData::&lt;Session&gt;::borrow_from(&amp;state);

        create_response(
            &amp;state,
            StatusCode::Ok,
            Some((index_body(session.todo_list.clone()), mime::TEXT_HTML)),
        )

    };

    (state, response)
}
                      </code>
                    </pre>
                  </div>
                </div>
                <div class="tab-pane " id="launching" role="tabpanel">
                  <p>
                    A Gotham application compiles to a standard Rust binary.
                  </p>
                  <div class="code-header">
                    Main
                  </div>
                  <div>
                    <pre>
                      <code class="hljs rust">
pub fn main() {
    let addr = "127.0.0.1:7878".parse().unwrap();

    let server = Http::new()
        .bind(&amp;addr, NewHandlerService::new(router()))
        .unwrap();

    println!("Listening on http://{}", server.local_addr().unwrap());
    server.run().unwrap();
}
                      </code>
                    </pre>
                  </div>
                  <div class="code-header">
                    Running
                  </div>
                  <div>
                    <pre>
                      <code class="hljs shell">
$ cargo run
   Compiling gotham-example-app v0.1.0
    Finished dev [unoptimized + debuginfo] target(s) in 12.50 secs
     Running `target/debug/gotham_example_app`
Listening on http://127.0.0.1:7878
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="community" class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h2>Community</h2>
            <div class="card-deck">
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">GitHub</h3>
                  <ul class="list-unstyled">
                    <li>
                      <a href="https://github.com/gotham-rs/gotham" alt="Gotham framework on GitHub">Gotham Framework</a>
                    </li>
                    <li>
                      <a href="https://github.com/gotham-rs/gotham/tree/master/examples" alt="Example application of GitHub">Examples</a>
                    </li>
                    <li>
                      <a href="https://github.com/gotham-rs/gotham/blob/master/CONDUCT.md" alt="Code of Conduct">Code of Conduct</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">News</h3>
                  <ul class="list-unstyled">
                    <li>
                      <a href="/blog" alt="Gotham Blog">Blog</a>
                    </li>
                    <li>
                      <a href="https://twitter.com/gotham_rs" alt="Gotham Twitter">Twitter</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card-deck">
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Policies</h3>
                  <p class="card-text">
                    Gotham is a young project that we want to create an energetic and respectful community around.
                  </p>
                  <p class="card-text">
                    As a starting point we've adopted the following <a
                      href="https://github.com/gotham-rs/policies">policies</a>
                    which we'd like your help in refining further.
                  </p>
                  <p class="card-text">
                    These policies are in effect for any environment or tool that supports the Gotham project.
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Help</h3>

                  <h4>Documentation</h4>
                  <ul class="list-unstyled">
                    <li>
                      <a href="https://book.gotham.rs">Book</a>
                    </li>
                    <li>
                      <a href="https://docs.rs/gotham">API Docs</a>
                    </li>
                  </ul>

                  <h4>Chat</h4>
                  <p class="card-text">
                    We collaborate via Gitter on the <a href="https://gitter.im/gotham-rs/gotham" alt="Gotham Gitter channel">gotham-rs/gotham</a>
                    channel. Gotham specific chat and requests for help are both very welcome here.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include footer.html %}
    </body>
</html>
