            <article>
              <header>
                <h2>{{ include.article.title }}</h2>

                <div class="metadata row">
                  <div class="publication col-12">
                    <div class="date">
                      <time>{{ include.article.date }}</time>
                    </div>
                  </div>
                </div>
              </header>

              {% if include.article.focal.img %}
              <div class="focal">
                <img class="img-fluid" src="{{ include.article.focal.img }} " alt="">
                <small><a href="{{ include.article.focal.attr.href }}">{{ include.article.focal.attr.display }}</a></small>
              </div>
              {% endif %}

              {{ include.article.content }}

            </article>
