      <nav class="navbar navbar-light navbar-toggleable-sm">
        <button class="custom-toggler navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navmaintoggle"
          aria-controls="navmaintoggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <h1><a href="/">Gotham</a></h1>
        <div class="collapse navbar-collapse" id="navmaintoggle">
          <ul class="navbar-nav ml-auto mt-2 mt-md-0">
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#community">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://book.gotham.rs">Book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://docs.rs/gotham">API Docs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/gotham-rs/">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://crates.io/crates/gotham">Crate</a>
            </li>
          </ul>
        </div>
      </nav>
