
$mobile-font-base: 13px;
$tablet-font-base: 13px;
$desktop-font-base: 14px;
$large-desktop-font-base: 16px;

$ms-base: $mobile-font-base;
$ms-ratio: 1.125;

$breakpoints: (
  tablet: 768px,
  desktop: 992px,
  large-desktop: 1200px
);

$typi: (
  base: (
    null: ($mobile-font-base, $ms-ratio),
    tablet: $tablet-font-base,
    desktop: $desktop-font-base,
    large-desktop: $large-desktop-font-base,
  ),

  h1: (
    null: ms(4), 
    tablet: ms(4, $tablet-font-base),
    desktop: ms(4, $desktop-font-base),
    large-desktop: ms(4, $large-desktop-font-base),
  ),

  h2: (
    null: ms(3),
    tablet: ms(3, $tablet-font-base),
    desktop: ms(3, $desktop-font-base),
    large-desktop: ms(3, $large-desktop-font-base),
  ),

  h3: (
    null: ms(2),
    tablet: ms(2, $tablet-font-base),
    desktop: ms(2, $desktop-font-base),
    large-desktop: ms(2, $large-desktop-font-base),
  ),

  h4: (
    null: ms(1),
    tablet: ms(1, $tablet-font-base),
    desktop: ms(1, $desktop-font-base),
    large-desktop: ms(1, $large-desktop-font-base),
  ),
);

@include typi-base();

h1 {
  @include typi('h1');
  font-weight: 300;
};

h2 {
  @include typi('h2');
  font-weight: 300;
};

h3 {
  @include typi('h3');
  font-weight: 300;
};

h4 {
  @include typi('h4');
  font-weight: 300;
};

body {
  color: $primary-color;
  background-color: $background1;

  margin: 0;
  padding: 0;

  min-height: 100vh;

  // Use per device system fonts, ordering important
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  Arial,
  sans-serif;

  //font-weight: 200;
}

a {
  color: $primary-link-color;

  &:hover {
    text-decoration: underline;
    color: $primary-link-color-alt;
  }
}

strong {
  color: $highlight-color;
}

abbr[title] {
  text-decoration: none;
}

nav {
  background-color: $background2;

  &.navbar {
    padding-top: vr(1);
    padding-bottom: vr(1);
  }

  h1 {
    margin-top: 6px;
    font-size: ms(6);
    a {
      color: $primary-color2;

      &:hover {
        color: $primary-color2;
        text-decoration: none;
      }
    }
  }

  .nav-item {
    padding-right: vr(1);
  }
}

.navbar-toggler {
  border: 0;
  color: $nav-color;
}

.navbar-light .navbar-nav a.nav-link {
  color: $nav-color;

  &:hover {
    color: $nav-color;
    text-decoration: underline;
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(227, 189, 39, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#splash {
  color: $primary-color;
  background-color: $background2;
  padding-top: vr(16);
  padding-bottom: vr(16);

  h2 {
    margin-bottom: vr(1);
    font-weight: 400;
  }

  #blurb {
    @include typi('h2');
    font-weight: 200;
  }
}

#features {
  padding-top: vr(2);
  padding-bottom: vr(2);

  color: $primary-color2;
  background-color: $background1;

  .card {
    background-color: transparent;
    border: 0;

  }
}

#code {
  padding-top: vr(2);
  padding-bottom: vr(2);


  background-color: $background2;

  .code-header {
    font-weight: 600;
    padding: 0.4rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $code-header-background-color;
    color: $primary-color;
    font-size: ms(1);
  }

  .nav {
    margin-top: vr(1);
  }

  .nav-link {
    color: $primary-link-color;

    &:hover {
      color: $primary-link-color-alt;
      text-decoration: underline;
    }
  }

  .nav-link.active {
    color: $tab-active-color;
    background: $tab-background-color;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    text-decoration: none;

    &:hover {
      color: $tab-active-color;
    }
  }

  .nav-link {
    color: $tab-inactive-color;

    &:hover {
      color: $tab-inactive-color;
    }
      
  }

  .tab-pane {
    padding: vr(1);
    padding-bottom: 0;
    border: 1px solid $tab-background-color;
  }

  pre {
    margin: 0;
    margin-top: -22px;
    margin-bottom: -20px;
    padding: 0;
  }

  code {
    border: 1px solid $code-header-background-color;
    margin: 0;
  }
}

#community {
  padding-top: vr(2);
  padding-bottom: vr(2);

  background-color: $background1;

  .card {
    background-color: $background1;
    border: 0;
  }
}

#team {
  padding-top: vr(2);
  padding-bottom: vr(2);

  background-color: $background2;

  h4 {
    margin-top: vr(2);
    margin-bottom: vr(1);
  }

  .team {
    padding: 0.6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: ms(0);

    border-radius: 20px; 
    -moz-border-radius: 20px;
  }

  .team-founder {
    color: $founder-pill-color;
    background-color: $founder-pill-background;
    font-weight: normal;
  }

  .card {
    border: 1px solid $code-header-background-color;
    background-color: $background1;

    img {
      margin-bottom: vr(1);
    }

    ul {
      margin-top: vr(1);
    }
  }
}

article {
  color: $primary-color;

  > header {
    margin-top: vr(1);
    margin-bottom: vr(1);

    h2 {
      margin-bottom: vr(2);
    }

    .author {
      .name {
        img {
          margin: 0;
          margin-right: 5px;
        }
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .social {
        margin-top: -4px;
        margin-left: 36px;
        a {
          margin-left: vr(.1);
          margin-right: vr(.1);

          img { margin: 0; }
        }
      }
    }
  }

  .focal {
    margin-top: vr(2);
    margin-bottom: vr(1);

    text-align: center;
    img {
      display: block;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
    }

    small {
      font-size: ms(-1);
    }
  }

  img {
    margin-top: vr(1);
    margin-bottom: vr(1);
  }

  pre {
    margin-top: vr(1);
    margin-bottom: vr(1);
  }
}       
