---
# Only the main Sass file needs front matter (the dashes are enough)
---

$enable-grid-classes: true;

@import "modularscale/modular-scale";
@import "typi/typi";

$background1: #1C1C1C; //#282C34;
$background2: $background1;

$primary-color: #FBFBFB;
$primary-color2: $primary-color;

$primary-link-color: #E3BB28;
$primary-link-color-alt: #E3BB28;
$nav-color: #E3BB28;

$tab-background-color: #E3BB28;
$tab-active-color: #FFF;
$tab-inactive-color: #FFF;

$highlight-color: #4F9F42;

$code-header-background-color: #3B3F46; //#6C5293;

$founder-pill-background: #4F9F42;
$founder-pill-color: #FFFFFF;

@import "styles"
