---
# Only the main Sass file needs front matter (the dashes are enough)
---

$enable-grid-classes: true;

@import "modularscale/modular-scale";
@import "typi/typi";

$background1: #FFFFFF;
$background2: #1C1C1C;

$primary-color: #1C1C1C;
$primary-color2: #FFFFFF;

$primary-link-color: #38AECC;
$primary-link-color-alt: #38AECC;
$nav-color: #E3BB28;

$tab-background-color: #E3BB28;
$tab-active-color: #FFF;
$tab-inactive-color: #FFF;

$highlight-color: #6C5293;

$code-header-background-color: #DDD92A;

$founder-pill-background: #289944;
$founder-pill-color: #FFFFFF;

@import "styles"
